<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>New Reply Notification</title>
</head>
<body>
  <h1>ጤና ይስጥልን <%= name %>,</h1>
  <p>በቪዲዮው ላይ ለጥያቄዎ አዲስ ምላሽ ታክሏል። "<%= title %>".</p>
  <p>እባክዎ መልሱን ለማየት ወደ ድህረ ገጻችን ይግቡ እና ውይይቱን ይቀጥሉ።</p>
  <p>የኦንላይን ማህበረሰባችን አካል ስለሆኑ እናመሰግናለን!</p>
</body>
</html>
